@use 'sass:math';
@use '../abstracts' as *;

.grid {
  display: grid;
  gap: $spacing-component;

  &--2col {
    grid-template-columns: 1fr;

    @include respond-to('tablet') {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &--3col {
    grid-template-columns: 1fr;

    @include respond-to('tablet') {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 $spacing-component;

  @include respond-to('tablet') {
    padding: 0 $spacing-component * 2;
  }

  @include respond-to('mobile') {
    padding: 0 $spacing-component;
  }
}

.hero {
  .container {
    max-width: 1920px;
    width: 100%;
    padding: 0;

    @include respond-to('desktop') {
      padding: 0 $spacing-component;
    }

    @include respond-to('tablet') {
      padding: 0 $spacing-component;
      max-width: 100%;
    }

    @include respond-to('mobile') {
      padding: 0 calc($spacing-component / 2);
    }
  }

  h1 {
    width: 100%;
    max-width: 1800px;
    margin: 0 auto;

    @include respond-to('tablet') {
      max-width: 100%;
      font-size: 5rem;
    }

    @include respond-to('mobile') {
      font-size: 3rem;
      padding: 0 calc($spacing-component / 2);
    }
  }
}
