@use '../abstracts' as *;

.grid {
  display: grid;
  gap: $spacing-component;

  &--2col {
    grid-template-columns: 1fr;

    @include respond-to('tablet') {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &--3col {
    grid-template-columns: 1fr;

    @include respond-to('tablet') {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

.container {
  @include container;
}
