@use '../abstracts' as *;

.grid {
  display: grid;
  gap: $spacing-gap;

  &--2-cols {
    grid-template-columns: 1fr;

    @include respond-to('medium') {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &--3-cols {
    grid-template-columns: 1fr;

    @include respond-to('medium') {
      grid-template-columns: repeat(2, 1fr);
    }

    @include respond-to('large') {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
