@use 'sass:color';
@use '../abstracts' as *;

/* Button Component Styles */
.button {
  display: inline-block;
  width: 239px;
  height: 60px;
  padding: 1.1rem 2rem;
  border: 6px solid;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s ease;
  text-align: center;
  line-height: 1;
  // outline: 5px solid red !important; // Temporary test style

  // Ghost Button (Default/Static)
  &--ghost {
    color: var(--color-white);
    border-color: var(--color-white);
    background: transparent;

    &:hover {
      background: rgb(49, 198, 244); // #47d4fd converted to RGBA
      color: var(--color-white);
    }

    &:active {
      color: var(--color-blue);
      background: var(--color-white);
    }
  }

  // Primary Button
  &--primary {
    color: var(--color-white);
    border-color: var(--color-blue);
    background: var(--color-blue);

    &:hover {
      background: var(--color-blue-light);
      border-color: var(--color-blue-light);
    }

    &:active {
      color: var(--color-blue);
      background: var(--color-white);
      border-color: var(--color-blue);
    }
  }

  // Services Button
  &--services {
    color: var(--color-white);
    border-color: #fdbb61;
    background: #fdbb61;

    &:hover {
      background: #fec77d;
      border-color: #fdbb61;
      color: var(--color-white);
    }

    &:active {
      color: #fdbb61;
      background: var(--color-white);
      border-color: #fdbb61;
    }
  }

  &--text {
    color: $color-primary;
    padding: 0.5rem;
    border-bottom: 2px solid transparent;

    &:hover {
      border-bottom-color: $color-primary;
    }
  }
}
