@use 'sass:color';
@use '../abstracts' as *;

.button {
  display: inline-block;
  padding: 1rem 2rem;
  border: 2px solid transparent;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s ease;
  cursor: pointer;

  &--outline {
    color: $color-white;
    border-color: $color-white;

    &:hover {
      background-color: $color-white;
      color: $color-primary;
    }
  }

  &--primary {
    background-color: $color-accent;
    color: $color-white;

    &:hover {
      background-color: color.adjust($color-accent, $lightness: -10%);
    }
  }

  &--text {
    color: $color-primary;
    padding: 0.5rem;
    border-bottom: 2px solid transparent;

    &:hover {
      border-bottom-color: $color-primary;
    }
  }
}
